/*            */
/* Every Page */
/*            */

body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, p {
    color: white;
}

.main-container {
    background-color: #1e2a38;  
    height: 100vh;
    display: flex;
    font-family: Arial, sans-serif;
    color: white;
}

/*           */
/* Container */
/*           */

/* Glass card container */
.glass-card {
    backdrop-filter: blur(15px);
    background-color: rgba(30, 42, 56, 0.6); 
    border-radius: 20px;
    padding: 40px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 400px;
    text-align: center;
    transition: all 0.3s ease;
}

/* Glass on Hover */
.glass-card:hover .side-bar-link:hover{
    background-color: rgba(255, 255, 255, 0.2);
}

/* Headings inside glass cards */
.glass-card h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: white;
}


/*                           */
/*     Special Components   */
/*                        */

/*    Two Column Dashboard   */
.dashboard-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 100px;
}

.chart-card {
    flex: 1;
}

/*     Transaction List   */
.transactions-header,
.transaction-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns for the 4 fields */
    gap: 10px;
    padding: 10px 0;
}

.transactions-header {
    font-weight: bold;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

.transaction-list {
    display: flex;
    flex-direction: column;
    gap: 10px; /* space between rows */
}

.glass-card-transaction {
    backdrop-filter: blur(15px);
    background-color: rgba(30, 42, 56, 0.6); 
    border-radius: 20px;
    padding: 40px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 1500px;
    text-align: center;
    transition: all 0.3s ease;
}







#portfolioValue{
    text-align: center;
}

.sidebar {
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin-top: 0px;
    width: 7.5%;
    outline: none;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    text-align: center;
}


/* Input fields inside glass cards */
.glass-input {
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin-top: 20px;
    width: 80%;
    outline: none;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    text-align: center;
}

/* Buttons inside glass cards */
.glass-button .side-bar-link{
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}


